body{
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url(img5.jpg);
}

.message-box p {
    margin: 5px 0;
    padding: 8px;
    background:white;
    word-wrap: break-word;
    width: fit-content;
}

.message-box .user-message {
    background-color:rgb(39, 205, 39);
    color: black;
    border-radius: 12px 12px 0px 12px;
    text-align: left;
    max-width: auto; 
    margin-bottom: 15px;
}

.message-box .user-message.right {
    background-color: #ff0000;
    text-align: right;
    border-radius: 12px 12px 0px 12px;
    color: white;
    margin-left:auto;
    margin-bottom: 15px;
}
